html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}
a {
  text-decoration: none;
}
/*================Header======================*/
#header {
  height: fit-content;
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}
#h_h1 {
  width: max-content;
  height: 100%;
  text-align: center;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: "Courgette", cursive;
}
#h_h1 a {
  color: black;
}
#h_cont {
  float: right;
  display: inline;
}

/*===================Main ==========================*/
#main {
  width: 100%;
  height: max-content;
  margin-top: 20px;
}
#main_1 {
  width: 45%;
  height: 100%;
  float: left;
  padding-left: 20px;
}
#main_2 {
  width: 45%;
  height: 100%;
  float: right;
}
#main_2 img {
  height: 100%;
  width: 100%;
}
#main_1 h2 {
  font-size: 400%;
  color: #2549d3;
  font-weight: 700;
}
#main_par1 {
  font-size: 200%;
}
#main_par2 {
  color: white;
  font-size: 200%;
  text-align: left;
}
.main_span2 {
  height: 100px;
  width: 10%;
}
.main_span2 a img {
  color: white;
  background-color: #2549d3;
  height: 25%;
  text-align: center;
}
.main_span2 a {
  color: white;
  background-color: #2549d3;
  height: 25%;
  border-radius: 5px;
}
